target
.idea
action
.classpath
.project
.settings
*.ipr
*.iws
*.swp
*.swo
*.mdb
*.ldb
*.sln
*.iml
*.com
*.class
*.dll
*.exe
*.o
*.so
*.log
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.tar
*.tar.gz
*.war
*.via
*.tmp
*.err
*.jsp

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db